.testezz {
  background: linear-gradient(90deg, #1d0000 -5.91%, #630000 111.58%);
  background-color: #000000;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
  /* background-image: linear-gradient(45deg, hsla(193, 100%, 60%, 0.3) 30%, hsla(146, 100%, 41%, 0.3) 80%); */
  background: rgba(221, 221, 221, 0.47);
}
