.counter {
  width: 100%;
}

.counter-row {
  width: 80%;
  margin-inline: auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.counter-column {
  font-family: "Monterrat";
  flex-grow: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.counter-column .number {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 5rem;
}

.counter-column span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .counter{
  margin-bottom: 2rem;
  }
  .counter-row {
    width: 100%;
   grid-template-columns: 1fr 1fr;
  }
  .counter-column .number{
    font-size: 2.5rem;
  }
  .counter-column{
    flex-direction: column;
    padding: 1rem;
  }
  .counter-column span {
    font-size: 1rem;
  }
}
