.counter {
  width: 100%;
}

.counter-row {
  width: 80%;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
}

.counter-column {
  font-family: "Monterrat";
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.counter-column .number {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 5rem;
}

.counter-column span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .counter-row {
    flex-wrap: wrap;
  }
}
